@font-face {
  font-family: akenaten;
  src: url('/fonts/akenaten.ttf');
}
/*
.game-icon {
  padding-left: 5px;
  padding-right: 5px;

  font-size: 1.6em;

  vertical-align: middle;

  max-width: 24px;
  max-height: 24px;
}

.influence {
  font-family: 'akenaten';

  &:before {
    //content: "\e605";
    color: @influence-icon-color;
  }
}

.bounty {
  font-family: 'akenaten';

  &:before {
    //content: "\e602";
    color: @bounty-icon-color;
  }
}

.bullets-draw {
  font-family: 'akenaten';

  &:before {
    //content: "\e602";
    color: @bullets-draw-icon-color;
  }
}

.bullets-stud {
  font-family: 'akenaten';

  &:before {
    //content: "\e602";
    color: @bullets-stud-icon-color;
  }
}

.control {
  font-family: 'akenaten';

  &:before {
    //content: "\e607";
    color: @control-icon-color;
  }
}
*/
