@brand-primary: green;
@background-color: #1E1E1E;
@foreground-color: #C1C2C3;

@control-icon-color: #2A2E5E;
@influence-icon-color: #C72229;
@bullets-icon-color: #05552F;

@control-color: rgba(0,0,128,0.85);
@influence-color: rgba(128,0,0,0.85);
@bullets-stud-icon-color: rgba(173, 196, 214, 0.85);
@bullets-draw-icon-color: rgba(185, 141, 96, 0.85);
@bounty-icon-color: rgba(109, 84, 1, 0.85);
@ghostrock-icon-color: rgba(0, 0, 0, 0.85);
@production-icon-color: rgba(0,128,0,0.85);

@card-width: 60px;
@card-height: 84px;

@location-width: @card-width*2;
@location-height: @card-height*3;

@townsquare-width: @card-width*4;
@townsquare-height: @card-height*2;

@location-margin: 2px;

@attachment-offset: -15px;

@counter-dia: 20px;
@out-color: white;

@box-shadow-color: rgba(255,255,255,0.1);
@box-shadow-controlled: @control-color;

// Z-index layers
@layer-locations: 10;
@layer-cards: 20;
@layer-pile-header: 30;
@layer-card-collection: 100;
@layer-prompt: 110;
@layer-card-menu: 120;
@layer-top: 9999;
